@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

body {
	background-color: #d4e7f6;
	font-family: 'Quicksand', sans-serif;
}

video {
	width: 750px;
	height: auto;
}

.container1 {
	height: auto;
}

.container2 {
	height: auto;
	background-color: #fafafa;
}

.divUrl {
	margin-bottom: 2.5%;
}

.txtHead {
	margin-top: 5%;
	margin-bottom: 2.5%;
}

.txtHead h1 {
	font-size: 3em;
}

.listDiv {
	margin: 10px;
	height: 70px;
	background-color: #d4e7f6;
	padding-top: 20px;
}

.form-wrapper input {
	box-sizing: border-box;
}

.info {
	color: #31b0d5;
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	width: 100%;
	text-align: center;
}

#viewport {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 1026px) {
	video {
		width: 260px;
	}
	.txtHead h1 {
		font-size: 1.5em;
	}
	.info {
		font-size: 1em;
	}
}

@media screen and (min-width: 360px) and (max-width: 1026px) {
	video {
		width: 300px;
	}
	.info {
		font-size: 1em;
	}
}

@media screen and (min-width: 375px) and (max-width: 1026px) {
	.txtHead h1 {
		font-size: 2em;
	}
	.info {
		font-size: 1em;
	}
}

@media screen and (min-width: 412px) and (max-width: 1026px) {
	video {
		width: 360px;
	}
	.txtHead h1 {
		font-size: 2em;
	}
	.info {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 768px) and (max-width: 1026px) {
	video {
		width: 470px;
	}
	.txtHead h1 {
		font-size: 3em;
	}
	.info {
		font-size: 2em;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1026px) {
	video {
		width: 616px;
	}
	.info {
		font-size: 2em;
	}
}